@import "../../assets/styles/variables.less";
header {
  height: @header-height;

  .header-inner {    
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    .nav-bar {
      height: @header-height;
      padding: 18px 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: @theme-main-color;
      color: white;
      font-size: 15px;
      
      a {
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        color: #FFF;

        &:hover {
          font-weight: bold;
        }
      }

      .left-part {
        display: flex;
        align-items: center;

        .menu {
          a+a {
            margin-left: 42px;
          }
        }

        .logo-wrapper {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          width: 150px;
          margin-right: 38PX;

          img {
            width: 100%;
          }
        }
      }

      .right-part {
        display: flex;
        align-items: center;
        color: #939393;
        font-size: 13px;

        a {
          color: inherit;
          &:hover {
            color: white;
            font-weight: bold;
          }
        }
        .cart-hightlight {
          color: white;
        }
        .userinfo {
          color: #e6e6e6;
          text-transform: uppercase;          
        }        
        &>div+div {
          margin-left: 28px;
        }
      }
    }

    .search-bar {
      display: none;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 0 60PX;
      height: 84px;
      background: white;
      color: 22px;

      .input-icon-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        input {
          font-size: 20px;
          color: black;
          outline: none;
          border-width: 0;
          &::placeholder, &::-webkit-input-placeholder {
            color: black;
            font-weight: bold;
          }
        }
      }
      .icon {
        width: 26px;
      }
      .icon-search {
        width: 26px;
      }
    }

    .built {
      cursor: pointer;
      position: absolute;
      top: 60px;
      right: 60px;
      color: #555;
      font-size: 12px;
      font-style:italic;
      font-weight: bold;
      &:hover {
        color: #F1F1F1;
      }
    }    
  }
}

#modalbox {
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 99; 
  opacity: 0; 
  pointer-events: none; 
}


#modalbox:target {
  opacity: 0.4;
  pointer-events: auto;
}
